name: Build and upload WebGL artifact
on:
    push:
        branches:
            - main
    workflow_dispatch:

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - uses: actions/cache@v3
              with:
                  path: /Library
                  key: Library-TowerDefense-WebGL
                  restore-keys: |
                      Library-TowerDefense-
                      Library-

            - name: Build Unity project
              uses: game-ci/unity-builder@v4
              env:
                  UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
                  UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
                  UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
              with:
                  targetPlatform: WebGL
                  buildsPath: Build

            - name: Log in to Docker Hub
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build Docker image
              run: |
                  docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/tower-defense:latest .

            - name: Push Docker image
              run: |
                  docker push ${{ secrets.DOCKERHUB_USERNAME }}/tower-defense:latest
